{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}">
  <title>{% block title %}OnlineJudge{% endblock %} - BBS</title>
  <link rel="stylesheet" href='{% static "css/compile.min.css" %}'>
</head>
<body>
  <nav class="niu-header navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#niu-navbar-collapse" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'forum_index' %}">OnlineJudge BBS</a>
      </div>
      <div id="niu-navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
              {% if user.profile.has_notification %}
                  <li><a class="noti-active" href="{% url 'notification_view' %}"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
              {% else %}
                  <li><a href="{% url 'notification_view' %}"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
              {% endif %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; {{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'user_profile' user_id=user.username %}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; {% trans "My home" %}</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; {% trans "Logout" %}</a></li>
                    </ul>
                  </li>
          {% else %}
            <li><a href="{% url 'account_login' %}">登录</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}

  <script src='{% static "js/total.min.js" %}'></script>

  {% block tail_js %}{% endblock %}

</body>
</html>
