{% load i18n %}
{% load staticfiles %}

<div class="panel panel-default">
	<ul class="list-group">
		<li class="list-group-item">
			<div class="clearfix">
				<div class="user-avatar pull-left">
					<a href="{% url 'user_profile' user_id=user.username %}">
						<img alt="avatar" class="avatar-l" src="{{ user.profile.avatar }}">
					</a>
				</div>
				<div class="user-names">
					<a class="niu-link" href="{% url 'user_profile' user_id=user.username %}">{{ user.username }}</a>
				</div>
			</div>
		</li>
	</ul>
</div>